<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.extentreports.tests.ExtentReportJson2"/>
      <class name="com.extentreports.tests.AttachLogo6"/>
      <class name="com.extentreports.tests.AttachScreenShot7"/>
      <class name="com.extentreports.tests.ExtentReportOne"/>
      <class name="com.extentreports.tests.ExtentReportCustome5"/>
      <class name="com.extentreports.tests.ExtentReportFailedTest3"/>
      <class name="com.extentreports.tests.ExtentReportLoggingJsonXML4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
